@{
    ViewData["Title"] = "Información Escuela";
}

<div class="text-center">
    <h1 class="display-4">Escuela</h1>
    <h2>Nombre: </h2>
    <h2>Año Fundación:</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
